@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	
  text-align: center;
  background: #FFB48E;
  color: #BF705E;
  letter-spacing: 5px;
}



h1 {
  position: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
  letter-spacing: 9px;
}

h2 {
  position: center;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  margin: -20px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  position: center;
  color: #905950;
  margin: -70px;
  letter-spacing: 1px
  padding: 50;
}


.topnav {
    background-color: #FFB48E;
    color: #905950;
    padding: 0;
    margin: 0 10px;
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

li a {
    color: #905950;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

a:link {
    color: #905950;
    text-decoration: none;
    }

a:visited {
    color: #905950;
  }

a:hover {
    color: white;
}

a:active {
    color: #905950;
}

footer {
  position: center;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  letter-spacing: 4px;

}

.page2 #page2{
   text-align: center;
  background: #FFB48E;
  color: #BF705E;
  letter-spacing: 5px;
  position: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
  letter-spacing: 9px;
  position: center;
  margin: -20px;
}

